<ul class="topbar">
  <li>
    <a
      href="http://twitter.com/share?text=Angular%20social%20login%20example%20by%20@jsdragonsdev&url=https://github.com/javascript-dragons/angular-social-login&hashtags=angular,social,facebook"
      class="active"
      target="_blank"
      ><i class="fab fa-twitter"></i> Share on Twitter
    </a>
  </li>
  <li>
    <a href="https://twitter.com/jsdragonsdev" target="_blank"
      ><i class="fab fa-twitter"></i> Follow us on Twitter</a
    >
  </li>
  <li class="right">
    <a href="https://github.com/mehmetakifalp" target="_blank"
      ><i class="fab fa-github"></i> Follow me on Github</a
    >
  </li>
</ul>
<div class="container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  Love this?&nbsp;
  <a
    href="https://github.com/javascript-dragons/angular-social-login"
    target="_blank"
    rel="noopener"
  >
    Give our repo a star.
    <div class="github-star-badge">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
        />
      </svg>
      Star
    </div>
  </a>
  <a
    href="https://github.com/javascript-dragons/angular-social-login"
    target="_blank"
    rel="noopener"
  >
    <svg
      class="material-icons"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </a>
</footer>
