<ul class="topbar">
  <li>
    <a
      href="http://twitter.com/share?text=Angular%20social%20login%20example%20by%20@jsdragonsdev&url=https://github.com/javascript-dragons/angular-social-login&hashtags=angular,social,facebook"
      class="active"
      target="_blank"
      ><i class="fab fa-twitter"></i> Share on Twitter
    </a>
  </li>
  <li>
    <a href="https://twitter.com/jsdragonsdev" target="_blank"
      ><i class="fab fa-twitter"></i> Follow us on Twitter</a
    >
  </li>
  <li class="right">
    <a href="https://github.com/mehmetakifalp" target="_blank"
      ><i class="fab fa-github"></i> Follow me on Github</a
    >
  </li>
</ul>
<div class="container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<p>layout-primary end!</p>
