html,
body {
  height: 100%;
  margin: 0px;
}
body {
  font-family: "Actor";
  font-size: 22px;
}
a {
  color: #222;
  text-decoration: none;
  font-size: 35px;
  letter-spacing: -1px;
}
.facebook {
  color: #3b5998;
}
.google {
  color: #4885ed;
}
